body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: "Open-sans", sans-serif;
}
h1 {
  margin: 0;
}
.app-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("../images/blue_background.jpg"); /* Background theme */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
}
